*{
    padding: 0;
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.nav {
    text-align: center;
    background-color:  #1C9B08;;
    color: white;
}

.nav ul{
    display: inline-flex;
    list-style: none;
}

.logo{
    width: 75px;
    border-radius: 50%;
    padding: 0;
    position: absolute;
}

h2{
    position: absolute;
    margin-left: 10%;
    margin-top: 25px;
}

li{
    padding: 30px;
    
}

a{
    text-decoration: none;
    color: white;
}

.diferente{
    color: #1C9B08;
    font-weight: 700;
}

li a:hover{
    transition: ease-in-out 0.300s;
    background-color: white;
    color: #1C9B08;
    cursor: pointer;
    padding: 10px;
    border-radius: 30px;
}

h3{
padding-top: 20px;
font-size: 24px;
}

.cadastro{   
position: absolute;
width: 300px;
height: 400px;
left: 30px;
top: 20%;
background: #e1e1e1;
border-radius: 30px;
align-content: center;
text-align: center;
}

form{
    margin: 20%;
}

#btn{
    width: 155px;
    height: 20px;
    margin-top: 30px;
    border-radius: 10px;
    border: none;
    background-color: #1C9B08;
    color: white;
}

#btn:hover{
  cursor: pointer;  
}

.testinhoA{
    position: absolute;
    margin-top: 100px;
    margin-left: 30%;
    width: 370px;
    
}

.tit{
    font-size: x-large;
    color: #1C9B08;
    padding-bottom: 10px;
}

.vid{
    text-align: center;
    margin-left: 60%;
    margin-top: 40px;
    padding-bottom: 100px;
   border-left: #e1e1e1 solid;
}



